<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mood Tracker</title>
  <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/css/style.css' />
  <script src="https://kit.fontawesome.com/9ad29ddbed.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- interface on a desktop device upwards-->
<nav class="is-hidden-touch navbar has-background-success-light">
    <div class="navbar-brand is-hidden-touch ">
        <a>
          <img src="/images/smiley.jpeg" width="112" height="28">
        </a>
    </div>
    <section class="navbar-menu">
      <div class="navbar-start">
          <a href="/" class="navbar-item is-size-4 is-size-2-fullhd has-text-success-dark">
              <ion-icon name="home-outline"></ion-icon>
              Home
          </a>
          {{#if logged_in}}
          <a href="/dashboard" class="navbar-item is-size-4 is-size-2-fullhd has-text-success-dark">
            <ion-icon name="cellular-outline"></ion-icon>
            Dashboard
          </a>
          <a href="/links" class="navbar-item is-size-4 is-size-2-fullhd has-text-success-dark">
            <ion-icon name="unlink-outline"></ion-icon>
            Links
          </a>
          <div class="navbar-item has-dropdown is-hoverable px-4">
            <a class=" navbar-link is-size-4 is-size-2-fullhd has-text-success-dark">
             Contact Us
           </a>
          <div class="navbar-dropdown">
            <div class="columns menu">
              <div class="column">
                <ul class="menu-list">
                    <li>
                        <a class="logo has-background-primary-dark has-text-success-light is-size-4">Github
                          <ion-icon name="logo-github"></ion-icon>
                        </a>
                        <ul>
                          <li class="is-size-6"><a href="https://github.com/LisaCR01">Lisa</a></li>
                          <li class="is-size-6"><a href="https://github.com/GrantRT">Grant</a></li>
                          <li class="is-size-6"><a href="https://github.com/KJ234">Komal</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
              <div class="column">
                <ul class="menu-list">
                    <li>
                        <a class="logo has-background-primary-dark has-text-success-light is-size-4">Email
                            <ion-icon name="mail-outline"></ion-icon>
                        </a>
                        <ul>
                           <li class="is-size-6"><a href="mailto:lcrgunn@gmail.com">Lisa</a></li>
                           <li class="is-size-6"><a href="mailto:granto_92@hotmail.com">Grant</a></li>
                           <li class="is-size-6"><a href="mailto:Komaljaved308@gmail.com">Komal</a></li>
                        </ul>
                    </li>
                </ul>
              </div>
              <div class="column">
                <ul class="menu-list">
                    <li>
                        <a class="logo has-background-primary-dark has-text-success-light is-size-4">LinkedIn
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                        <ul>
                            <li class="is-size-6"><a href="https://www.linkedin.com/in/LisaCR01">Lisa</a></li>
                            <li class="is-size-6"><a href="https://www.linkedin.com/in/grant-tolhurst-6aa374224/">Grant</a></li>
                            <li class="is-size-6"><a href="https://www.linkedin.com/in/komal-javed-2b55a3232/">Komal</a></li>
                        </ul>
                     </li>
                </ul>
              </div>
            </div>
          </div>
       </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/logout" id="logout"  class=" button is-primary is-large">
              <div>Log Out</div>
            </a>
            {{else}}
            <a href="/signup" class=" button is-light is-large">
              <div>Sign Up</div>
            </a>
            <a href="/login" class="button is-primary is-large">
              <strong> Log In </strong>
            </a>
          </div>
        </div>
    </div>
    {{/if}}
</nav>

<!-- interface on a tablet device -->
<nav class="is-hidden-mobile is-hidden-desktop tabs is-boxed is-large has-background-primary-dark">
  <section class="tabs is boxed">
    <ul>
      <li>
        <a href="/" class="is-size-4 has-text-success-light">
          <ion-icon name="home-outline"></ion-icon>
          Home
        </a>
      </li>
      {{#if logged_in}}
      <li>
        <a href="/dashboard" class="is-size-4 has-text-success-light">
          <ion-icon name="cellular-outline"></ion-icon>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/links" class="is-size-4 has-text-success-light">
          <ion-icon name="unlink-outline"></ion-icon>
          Links
          </a>
      </li>
      <li >
        <a href="/contacts" class=" is-size-4 has-text-success-light">
          <ion-icon name="chatbubbles-outline"></ion-icon>
            Contact Us
        </a>
      </li>
      <li class="is-active">
        <a href="/logout" id="has-background-primary has-text-success-light is-size-4">
          <strong>Log Out</strong>
        </a>
      </li>
      {{else}}
       <li class="is-active mx-2">
        <a href="/signup" class="has-background-primary-light has-text-success-dark is-size-4">
          <strong>Sign Up</strong>
        </a>
      </li>
      <li class="is-active mx-2">
        <a href="/login" class="has-background-primary has-text-success-light is-size-4">
          <strong>Log In</strong>
        </a>
      </li>
    </ul>
  </section>
  {{/if}}
</nav>

<div class="card">
  <header class="card-header has-background-primary">
    <p class="card-header-title has-text-success-light is-size-4 is-size-2-desktop">Mood Tracker
      <ion-icon name="happy-outline"></ion-icon>
    </p>
  </header>
</div>


<!-- interface on a mobile device -->
<nav class="menu is-hidden-tablet">
  <section>
            <ul class=" menu-list level">
                <li class="level-item has-text-centered">
                  <a href="/" class="list-nav is-size-4 has-text-success-dark has-background-success-light">
                    <ion-icon name="home-outline"></ion-icon>
                    Home
                </a>
                </li>
                {{#if logged_in}}
                <li class="level-item has-text-centered">
                  <a href="/dashboard" class="list-nav is-size-4 has-text-success-dark has-background-success-light">
                    <ion-icon name="cellular-outline"></ion-icon>
                    Dashboard
                 </a>
                </li>
                <li class="level-item has-text-centered">
                  <a href="/links" class="list-nav is-size-4 has-text-success-dark has-background-success-light">
                   <ion-icon name="unlink-outline"></ion-icon>
                    Links
                 </a>
                </li>
                <li class="level-item has-text-centered">
                 <a href="#Contact-Information" class="list-nav is-size-4 has-text-success-dark has-background-success-light">
                    <ion-icon name="chatbubbles-outline"></ion-icon>
                    Contact Us
                  </a>
                </li>
                <li class="level-item has-text-centered">
                  <a href="/logout" id="logout-mobile" class="list-nav has-background-primary as-text-success-light is-size-4">
                    <strong>Log Out</strong>
                </a>
                </li>
                {{else}}
                <li class="level-item has-text-centered">
                  <a href="/signup" class="list-nav has-background-primary-dark has-text-success-light is-size-4">
                    <strong>Sign Up</strong>
                </a>
                </li>
                <li class="level-item has-text-centered">
                  <a href="/login" class="list-nav has-background-primary has-text-success-dark is-size-4">
                    <strong>Log In</strong>
                </a>
                </li>
            </ul> 
          </section>
        {{/if}}
      </nav>

    {{{body}}}
    <footer class="is-hidden-mobile is-hidden-desktop level columns footer  has-background-success-light">
      <div class="level-item has-text-centered column">
        <a >
          <img src="/images/smiley.jpeg" width="112" height="28">
        </a>
        <div class="p-2 has-text-success-dark has-text-weight-bold">A Platform To Spread Positivity</div>
      </div>
    </footer>

    <footer class="is-hidden-tablet">
      <div class="columns" id="Contact-Information">
      <div class="column has-background-success-light">
      <ul class="menu-list px-20">
          <li>
            <a class="has-background-primary-dark has-text-success-light is-size-4">Github
              <ion-icon name="logo-github"></ion-icon>
            </a>
              <ul>
               <li class="is-size-4"><a href="https://github.com/LisaCR01">Lisa</a></li>
               <li class="is-size-4"><a href="https://github.com/GrantRT">Grant</a></li>
               <li class="is-size-4"><a href="https://github.com/KJ234">Komal</a></li>
              </ul>
          </li>
        </ul>
        </div>
        <div class="column has-background-success-light">
        <ul class="menu-list">
          <li>
             <a class="has-background-primary-dark has-text-success-light is-size-4">Email
                <ion-icon name="mail-outline"></ion-icon>
             </a>
              <ul>
                <li class="is-size-4"><a href="mailto:lcrgunn@gmail.com">Lisa</a></li>
                <li class="is-size-4"><a href="mailto:granto_92@hotmail.com">Grant</a></li>
                <li class="is-size-4"><a href="mailto:Komaljaved308@gmail.com">Komal</a></li>
              </ul>
          </li>
        </ul>
        </div>
        <div class="column column has-background-success-light">
        <ul class="menu-list">
          <li>
             <a class="has-background-primary-dark has-text-success-light is-size-4">LinkedIn
               <ion-icon name="logo-linkedin"></ion-icon>
            </a>
            <ul>
              <li class="is-size-4"><a href="https://www.linkedin.com/in/LisaCR01">Lisa</a></li>
              <li class="is-size-4"><a href="https://www.linkedin.com/in/grant-tolhurst-6aa374224/">Grant</a></li>
              <li class="is-size-4"><a href="https://www.linkedin.com/in/komal-javed-2b55a3232/">Komal</a></li>
            </ul>
          </li>
        </ul>
        </div>
        </div>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    {{#if logged_in}}
  <script src="/js/logout.js"></script>
   {{/if}}
    </body>

</html>