<section class="hero-body">
    <div class="card m-6">
    <header class="card-header has-background-primary">
        <h2 class="p-4 title card-header-title has-text-success-light is-size-2 ">
        Contact Information</h2>
    </header>
      <div class="columns" id="Contact-Information">
        <div class="column has-background-success-light">
        <ul class="menu-list px-20">
            <li>
              <a class="has-text-weight-bold has-background-primary-dark has-text-success-light is-size-4 ">Github
                <ion-icon name="logo-github"></ion-icon>
              </a>
                <ul>
                 <li class="is-size-4"><a href="https://github.com/LisaCR01">Lisa</a></li>
                 <li class="is-size-4"><a href="https://github.com/GrantRT">Grant</a></li>
                 <li class="is-size-4"><a href="https://github.com/KJ234">Komal</a></li>
                </ul>
            </li>
          </ul>
          </div>
          <div class="column has-background-success-light">
          <ul class="menu-list">
            <li>
               <a class="has-text-weight-bold has-background-primary-dark has-text-success-light is-size-4 is-size-2-fullhd">Email
                  <ion-icon name="mail-outline"></ion-icon>
               </a>
                <ul>
                  <li class="is-size-4"><a href="mailto:lcrgunn@gmail.com">Lisa</a></li>
                  <li class="is-size-4"><a href="mailto:granto_92@hotmail.com">Grant</a></li>
                  <li class="is-size-4"><a href="mailto:Komaljaved308@gmail.com">Komal</a></li>
                </ul>
            </li>
          </ul>
          </div>
          <div class="column has-background-success-light">
          <ul class="menu-list">
            <li>
               <a class="has-text-weight-bold has-background-primary-dark has-text-success-light is-size-4 is-size-2-fullhd">LinkedIn
                 <ion-icon name="logo-linkedin"></ion-icon>
              </a>
              <ul>
                <li class="is-size-4"><a href="https://www.linkedin.com/in/LisaCR01">Lisa</a></li>
                <li class="is-size-4"><a href="https://www.linkedin.com/in/grant-tolhurst-6aa374224/">Grant</a></li>
                <li class="is-size-4"><a href="https://www.linkedin.com/in/komal-javed-2b55a3232/">Komal</a></li>
              </ul>
            </li>
          </ul>
          </div>
          </div>
      </div>
    </div>
  </section>