<div id='dashboard-main-card' class='dashboard-card card'>
  <div class='card-image'>
    <div id='dashboard-main-card-text'></div>
    <canvas id='moodChart'></canvas>
  </div>
  <form id='sliders' class='todays-mood-form'>
    <div class='card-content'>
      <div>
        <p class='level is-hidden-mobile level-item icon-text is-size-4'>
          <span>Please select how you are feeling today out of 0</span>
          <span class='icon'>
            <i class='far fa-sad-cry'></i>
          </span>
          <span>to 10</span>
          <span class='icon'>
            <i class='fa-regular fa-face-grin-squint'></i>
          </span>
        </p>
      </div>

      <div class='slider-card is-hidden-mobile'>
        <input type='range' min='0' max='10' value='5' class='slider' id='myRange' />
        <output class='bubble'></output>
        <label class='level is-hidden-mobile'>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-sad-cry fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-tired fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-sad-tear fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-frown fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-frown-open fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='fa-regular fa-face-meh fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='fa-regular fa-face-smile fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='fa-regular fa-face-smile-beam fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-laugh-beam fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='fa-regular fa-face-grin-squint fa-2x'></i>
          </span>
          <span class='level-item icon has-text-centered'>
            <i class='far fa-grin-tears fa-2x'></i>
          </span>
        </label>
      </div>
      <div class='is-hidden-tablet level'>
        <p class='is-size-4 level-item has-text-centered'>
          Please use slider to select how you are feeling today out of 0 to 10
        </p>
        <div class='level-item has-text-centered'>
          <div id='slider'></div>
        </div>
      </div>
    </div>
    <div class='columns'>
      <div class='level p-4 column'>
        <div class='level-item has-text-centered'>
          <button type='submit' class='button has-background-primary-light has-text-success-dark'>
            <div class='has-text-weight-bold is-size-4-tablet'>Submit</div>
          </button>
        </div>
      </div>
      <div class='column level'>
        <div class='level-item has-text-centered'>
          <select name='days' id='day-select' class='has-text-weight-bold is-size-4-tablet has-background-primary-light has-text-success-dark p-1'>
            <option value=''>Choose A Different Day</option>
            <option value='monday'>Monday</option>
            <option value='tuesday'>Tuesday</option>
            <option value='wednesday'>Wednesday</option>
            <option value='thursday'>Thursday</option>
            <option value='friday'>Friday</option>
            <option value='saturday'>Saturday</option>
            <option value='sunday'>Sunday</option>
          </select>
        </div>
      </div>
    </div>

  </form>
</div>
<script src='https://unpkg.com/dayjs@1.8.21/dayjs.min.js'></script>
<script src='https://unpkg.com/dayjs@1.8.21/plugin/weekOfYear.js'></script>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/round-slider@1.6.1/dist/roundslider.min.js'></script>
<script src='./js/dashboard.js'></script>