<div class='card m-6'>
  <div class='card-image'>
    <canvas id='moodChart'></canvas>
  </div>
  <form class='todays-mood-form'>
    <div class='card-content'>
      <div class='slider-card'>
        <input type='range' min='0' max='10' value='50' class='slider' id='myRange' />
        <output class='bubble'></output>
      </div>
    </div>
    <button type='submit'>Submit</button>
  </form>
</div>
<script src='https://unpkg.com/dayjs@1.8.21/dayjs.min.js'></script>
<script src='https://unpkg.com/dayjs@1.8.21/plugin/weekOfYear.js'></script>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='./js/dashboard.js'></script>