<div class='card m-6'>
  <div class='card-image'>
    <canvas id='moodChart'></canvas>
  </div>
  <form class='todays-mood-form'>
    <div class='card-content'>
      <div class='slider-card'>
        <input type='range' min='0' max='10' value='50' class='slider' id='myRange' />
        <output class='bubble'></output>
      </div>
    </div>
    <div class="level p-4">
      <div class="level-item has-text-centered">
        <button type='submit' class="button has-background-primary-light has-text-success-dark is-large">
          <div class="has-text-weight-bold">Submit</div>
        </button>
      </div>
    </div>
  </form>
</div>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='./js/dashboard.js'></script>