<input id='sliderMedium' class='slider is-medium is-fullwidth is-circle' min='0' max='10' value='5' step='1' type='range' />
<output for='sliderMedium' id='sliderMediumTooltip' class='has-output-tooltip'>5</output>
<div>
  <canvas id='moodChart'></canvas>
</div>

<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>