<div>
  <canvas id='moodChart'></canvas>
</div>
    <div class="slider-card">
    <input type="range" min="0" max="10" value="50" class="slider" id="myRange">
    <p>Value: <span id="demo"></span></p>
</div>
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='./js/dashboard.js'></script>