<section class='hero-body is-desktop'>
  <div class='card m-6 has-background-primary-light'>
    <header class='card-header has-background-primary'>
      <p class='card-header-title has-text-white is-size-2 is-hidden-touch'>Connect With Friends</p>
    </header>
    <div class='card-content'>
      <div class='block'>
        <p class='subtitle has-text-success-dark is-size-3-tablet is-size-2-desktop is-hidden-phone'>Utilise our platform to check in on your friends!
        </p>
      </div>
      {{#if logged_in}}
        <div class='box m-6-tablet'>
          <form class='search-form p-4'>
            <p class='subtitle has-text-success-dark is-size-4 is-size-3-tablet'>Search for a friend's mood:</p>
            <div id='search-username' class='field has-addons'>
              <div class='control'>
                <input id='search-input' class='input is-size-4 is-size-3-tablet' type='text' placeholder='Enter Username Here' />
              </div>
              <div class='control'>
                <button type='submit' class='button is-primary is-size-4 is-size-3-tablet'>
                  Search
                </button>
              </div>
            </div>
          </form>
        </div>
        {{else}}
        <div class='box m-6-tablet'>
          
            <p class='subtitle has-text-success-dark is-size-4 is-size-3-tablet'>Log in to search for a friend's mood.</p>
           
            </div>
          
        </div>
      {{/if}}
    </div>
    <div class='card-image'>
      <div id='user-Chart'>
        <canvas id='friendMoodChart'></canvas>
      </div>
    </div>
  </div>
</section>

{{#if logged_in}}
<script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
<script src='./js/homepage.js'></script>
{{/if}}