<section class="hero-body">
  <div class="card m-6">
    <header class="card-header has-background-primary-light">
      <p class="card-header-title has-text-success-dark is-size-2">Links! - Most
        common Mental Health illnesses</p>
    </header>
  </div>
</section>