<section>
  <div class="link-card card">
    <header class="card-header has-background-primary-light">
      <h2
        class="title card-header-title has-text-success-dark is-size-4 is-size-2-desktop"
      >Links! - Most common Mental Health illnesses</h2>
    </header>
    <div class="card-content has-background-primary has-text-white">
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/bipolar-disorder/bipolar-1-vs-bipolar-2"
        >Bioplar Disorder</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/dysthymia"
        >Persistent depressive disorder</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/anxiety/generalized-anxiety-disorder"
        >Generalized anxiety disorder</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/clinical-depression"
        >Major depressive disorder</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/ocd/social-signs"
        >Obsessive-compulsive disorder</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/post-traumatic-stress-disorder"
        >Post-traumatic stress disorder (PTSD)</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/schizophrenia-types"
        >Schizophrenia</a><br />
      </div>
      <div>
        <ion-icon name="link-outline"></ion-icon>
        <a
          class="has-text-grey-dark"
          href="https://www.healthline.com/health/anxiety/social-phobia"
        >Social anxiety disorder</a><br />
      </div>
    </div>
  </div>
</section>