{{! log in }}
<form class="form login-form">
<section class="hero-body">
<div class="card m-6" id='login-signup-container'>
  <header class="card-header has-background-primary-light">
      <p class="card-header-title has-text-success-dark is-size-2">Login</p>
  </header>
  <div class="card-content has-background-primary">
    <div class="field">
      <label class="label has-text-grey-dark">email</label>
      <div class="control has-icons-left has-icons-right">
        <!-- Email input -->
        <input class="input is-success" type="text" placeholder="Enter Email Here" id='email-login'>
        <span class="icon is-small is-left">
          <ion-icon name="mail-outline"></ion-icon>
        </span>
      </div>
  </div>
  <div class="field">
      <label class="label has-text-grey-dark">Password</label>
      <div class="control has-icons-left has-icons-right">
        <!-- Password input -->
        <input class="input is-success" type='password' placeholder="Enter Password Here" id='password-login'>
        <span class="icon is-small is-left">
          <ion-icon name="lock-closed-outline"></ion-icon>
        </span>
       </div>
  </div>
  <div class="field">
      <p class="control">
        <button type='submit' class="button has-background-primary-light has-text-success-dark">
        <div class="has-text-weight-bold">Login</div>
        </button>
      </p>
  </div>
  </div>
</section>
</form>
 <script src='./js/login.js'></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
