body,
.footer{
  background-color: rgb(126, 171, 157);
}

 #slider-card {
    width: 100%; /* Width of the outside container */
    position: relative;
    margin: 0 auto 3rem;
  }
  
  /* The slider itself */
  .slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background-color: lightsteelblue;
  }

  .bubble {
    background:darkcyan;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
  }

  .list-nav {
    width:100%
  }

  .logo {
    width: 175px;
  }



.rs-range-color  {
  background: radial-gradient(ellipse at bottom, rgb(163, 205, 159) 0%, rgb(12, 75, 32) 34%, rgb(7, 252, 68) 66%, rgb(50, 133, 34) 100%);
}

.rs-path-color  {
  background: radial-gradient(ellipse at bottom, rgb(242, 177, 177) 0%, rgb(245, 78, 28) 34%, rgb(230, 157, 157) 66%, rgb(63, 28, 28) 100%);
}

.rs-handle  {
  background: radial-gradient(ellipse at center, rgba(228, 228, 228, 1) 0%, rgb(227, 208, 208) 34%, rgb(102, 91, 98) 100%);
}
.rs-border  {
  border-color: rgb(136, 40, 40);
}

#slider .rs-tooltip {
  font-size: 50px;
  font-weight: bold;
}

  @media only screen and (max-device-width : 768px) {
    .dashboard-card {
        margin:0px;
    }

}

@media only screen and (min-width: 769px) {
    .dashboard-card,
    .link-card {
      margin:50px;
    }

  }

  @media only screen and (min-width: 1024px) {
    .dashboard-card,
    .link-card {
      margin:100px
    }

  }

  @media only screen and (min-width: 1216px) {
    .dashboard-card,
    .link-card {
      margin:180px;
    }
  }

  @media only screen and (min-width: 1408px) {
    .dashboard-card,
    .link-card {
        margin:250px;
    }
  }